.offer {
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 12px;
    @media screen and (min-width: 860px) {
      font-size: 48px;
      margin-bottom: 20px;
      line-height: 1.15;
    }
  }
  &__desc {
    margin: 0 0 12px;
    @media screen and (min-width: 860px) {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }
  &__text {
    margin-bottom: 40px;
    @media screen and (min-width: 760px) {
        max-width: 350px;
        margin: 0;
      .button {
        max-width: 240px;
      }
    }
  }
  @media screen and (min-width: 760px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}